header {
    background: #857a7a;
    height: 54px;
    padding: 18px 16px;
    
}

.title {
    text-align: center;  
}

.actions {
    padding: 10px;
}

button {
    background: none;
    border: 1px solid black;
    color: rgb(192, 27, 27);
    padding: 10px 14px;
    display: flex;
    align-items: center;
    font-size: 14px;
    border-radius: 45px;
    box-sizing: border-box;
}

.goods-list {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border: 1px solid black; 
    box-sizing: border-box;
    text-align: left;
    margin-top: 100px;
    gap: 10px; 
}